* {
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    text-align: center;
    top: 0;
    background-color: gray;
    color: white;
    width: 100%;
    font-family: 'PT Serif', serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.main-frame {
    font-family: 'PT Serif', serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 800px;
    width: 500px;
    border: 2px solid lightgrey;
    background-color: gray;
    border-radius: 8px;
    color: black;
    font-weight: 600;
}

.game-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
    height: 400px;
    width: 400px;
    border-radius: 8px;
    border: solid 1px gray;
    background-color: rgb(187, 221, 119);
}

.game-frame img {
    height: 100%;
    width: 100%;
}

.player-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 200px;
}

.btn-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 120px;
}

table {
    border-collapse: collapse;
}

table td {
    position: relative;
    height: 100px;
    width: 100px;
    border: 5px solid black;
    cursor: pointer;
}

table td:hover {
    background-color: rgba(245, 245, 245, 0.4);
    border-radius: 32px;
}

table tr:first-child td {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr td:last-child {
    border-right: 0;
}

.shape {
    position: absolute;
    padding: 8px;
}

.imgframe {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-none {
    display: none;
}

.o-none {
    opacity: 0;
}

.players img {
    height: 40px;
    width: 40px;
    margin-left: 8px;
}

.players span {
    font-size: 40px;
    font-weight: bold;
}

.players div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

.players {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.player {
    margin: 8px;
}

.player input {
    margin: 8px;
    border-radius: 4px;
    padding-left: 8px;
}

.player-win {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    font-size: 50px;
    font-weight: 700;
}

.player-select {
    font-size: 40px;
    font-weight: 500;
}

.player-win img {
    height: 50px;
    width: 50px;
}

.inactive {
    opacity: 0.3;
}

.line {
    height: 10px;
    width: 350px;
    background-color: rgba(255, 0, 0, 0.5);
    position: absolute;
    z-index: 1;
    top: 445px;
    transform: scaleX(0.0);
    transition: transform 225ms ease-in-out;
}

.vertical {
    transform: rotate(90deg) scaleX(0.0);
}

.aslant {
    top: 585px;
    left: 390px;
}